@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
}

/* Opcional: Esto ayuda a que el scroll sea más "sedoso" en algunos navegadores */
body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}